<div class="contacts"><mat-form-field>
  <mat-label>Filtro</mat-label>
  <input matInput (keyup)="filterByName()" (change)="filterByName()" placeholder="Filtrar por nombre" #filterName>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Tipo</mat-label>
  <mat-select (selectionChange)="filterByType($event.value)">
    <mat-option value="0">Trabajo</mat-option>
    <mat-option value="1">Personal</mat-option>
  </mat-select>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <!-- Telephone Column -->
    <ng-container matColumnDef="telephone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Teléfono</th>
      <td mat-cell *matCellDef="let row"> {{row.telephone}}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let row"> {{row.email}} </td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
      <td mat-cell *matCellDef="let row"> {{row.type | typeField}} </td>
    </ng-container>

    <!-- Common Column -->
    <ng-container matColumnDef="common">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Habitual</th>
      <td mat-cell *matCellDef="let row"> {{row.common | commonField}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
      <td mat-cell *matCellDef="let row">
          <span class="icon-action" routerLink="/contacts/single/{{row.id}}"><mat-icon aria-hidden="false"
                                                                                       aria-label="Editar"
                                                                                       color="accent">edit</mat-icon></span>
        <span class="icon-action" (click)="deleteContact(row.id)"><mat-icon aria-hidden="false" aria-label="Borrar"
                                                                            color="warn">delete</mat-icon></span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Sin datos para "{{this.filterName.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
</div>
